/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
  HTML content. To learn how to do something, just try searching Google for questions like
  "how to change link color." */
:root {
  --light-backgorund-color: #fdf4dc;
  --dark-background-color: #1a1d23;
  --off-white: #f8f4e9;
  --near-black: #0f0f0f;
  --active-link: #1c76fd;
  --visited-link: #5491ee;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-background-color);
  color: var(--near-black);
  font-family: 'Consolas';
  height: 100vh;
}

main {
  flex: 1;
}

a {
  color: #7fb8ff;
  text-decoration: none;
}

a:active {
  color: var(--active-link);
}

a:visited {
  color: var(--visited-link);
}

.page-container {
  margin: 0 auto;
  width: 100%;
  padding: 20px 40px;
}

header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  margin-bottom: 16px;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#quick-summary h4 {
  margin-bottom: 8px;
}

.update-info {
  display: flex;
  gap: 12px;
  margin-top: 2px;
  margin-bottom: 8px;
}

#last-updated::after {
  content: "|";
  margin-left: 12px;
}

hr {
  margin: 12px 0;
}

h2 {
  margin-bottom: 8px;
}

ul {
  list-style-type: none;
}

main h1 {
  margin-bottom: 8px;
}

/* updates page */
.update-item {
  margin-bottom: 12px;
  border-radius: 4px;
  overflow: hidden;
}

.update-header {
  cursor: pointer;
  padding: 8px 12px;
  background: #414141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.update-header:hover {
  background: #7e7e7e;
}

.update-date {
  font-weight: bold;
  color: var(--off-white);
}

.toggle-icon {
  font-size: 0.9em;
  color: var(--visited-link);
}

.update-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background: #414141;
}

.update-content.show {
  max-height: 400px;
  overflow-y: auto;
  padding: 12px;
  border-top: 1px solid #7e7e7e;
}

.update-text {
  white-space: pre-line;
  line-height: 1.5;
}

.no-updates, .error {
  padding: 15px;
  text-align: center;
}

.error {
  color: #d32f2f;
}

#theme-toggle {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dark-mode {
  background-color: var(--dark-background-color);
  color: var(--off-white)
}

#difficulty-table, #category-table, #diagram-table {
  text-align: center;
  
}

table, th, td {
  border: 1px solid gray;
}

tbody {
  text-align: start;
}

th, td {
  padding: 2px 3px;
}

#difficulty-row {
  text-align: center;
}