/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
  HTML content. To learn how to do something, just try searching Google for questions like
  "how to change link color." */
:root {
  --background-color: #1a1d23;
  --off-white: #f8f4e9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-color);
  color: var(--off-white);
  font-family: 'Consolas';
  height: 100vh;
}

a {
  color: #7fb8ff;
  text-decoration: none;
}

a:active {
  color: #1c76fd;
}

a:visited {
  color: #5491ee;
}

.site-container {
  margin: 0 auto;
  width: 100%;
  padding: 20px 40px;
}

header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
  margin-bottom: 16px;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#quick-summary h4 {
  margin-bottom: 8px;
}

.update-info {
  display: flex;
  gap: 12px;
  margin-top: 2px;
  margin-bottom: 8px;
}

#last-updated::after {
  content: "|";
  margin-left: 12px;
}

hr {
  margin: 12px 0;
}

h2 {
  margin-bottom: 8px;
}